<!-- html код для секції covers -->
<section class="covers-section">
  <div class="covers-container">
    <h2 class="covers-title visually-hidden">Title for screen readers</h2>

    <div class="content">
      <div class="marquee">

        <ul class="marquee__inner">

          <li class="marquee__line">
            <img srcset="
                                                ./img/covers-img/cover-img-desktop-tablet/Rectangle7@2x.jpg        1089w,
                                                ./img/covers-img/cover-img-mobile/Rectangle7-mobile@2x.jpg          566w,
                                                ./img/covers-img/cover-img-desktop-tablet/Rectangle7.jpg           830w,
                                                ./img/covers-img/cover-img-mobile/Rectangle7-mobile.jpg             284w,
                                                
                                            " sizes="(min-width:768px) 830px,        
                                                        (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle7.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                ./img/covers-img/cover-img-desktop-tablet/Rectangle8@2x.jpg        1089w,
                                                ./img/covers-img/cover-img-mobile/Rectangle8-mobile@2x.jpg          566w,
                                                ./img/covers-img/cover-img-desktop-tablet/Rectangle8.jpg           830w,
                                                ./img/covers-img/cover-img-mobile/Rectangle8-mobile.jpg             284w,
                                                
                                            " sizes="(min-width:768px) 830px,        
                                                        (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle8.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                ./img/covers-img/cover-img-desktop-tablet/Rectangle9@2x.jpg        1089w,
                                                ./img/covers-img/cover-img-mobile/Rectangle9-mobile@2x.jpg          566w,
                                                ./img/covers-img/cover-img-desktop-tablet/Rectangle9.jpg           830w,
                                                ./img/covers-img/cover-img-mobile/Rectangle9-mobile.jpg             284w,
                                                
                                            " sizes="(min-width:768px) 830px,        
                                                        (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle9.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                          ./img/covers-img/cover-img-desktop-tablet/Rectangle1@2x.jpg 1089w,
                                                          ./img/covers-img/cover-img-mobile/Rectangle1-mobile@2x.jpg   566w,
                                                          ./img/covers-img/cover-img-desktop-tablet/Rectangle1.jpg     830w,
                                                          ./img/covers-img/cover-img-mobile/Rectangle1-mobile.jpg      284w
                                                        " sizes="(min-width:768px) 830px,        
                                                                  (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle1.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                          ./img/covers-img/cover-img-desktop-tablet/Rectangle10@2x.jpg        1089w,
                                                          ./img/covers-img/cover-img-mobile/Rectangle10-mobile@2x.jpg          566w,
                                                          ./img/covers-img/cover-img-desktop-tablet/Rectangle10.jpg           830w,
                                                          ./img/covers-img/cover-img-mobile/Rectangle10-mobile.jpg             284w,
                                                          
                                                       " sizes="(min-width:768px) 830px,        
                                                                  (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle10.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                          ./img/covers-img/cover-img-desktop-tablet/Rectangle11@2x.jpg        1089w,
                                                          ./img/covers-img/cover-img-mobile/Rectangle11-mobile@2x.jpg          566w,
                                                          ./img/covers-img/cover-img-desktop-tablet/Rectangle11.jpg           830w,
                                                          ./img/covers-img/cover-img-mobile/Rectangle11-mobile.jpg             284w,
                                                          
                                                      " sizes="(min-width:768px) 830px,        
                                                                  (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle11.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                          ./img/covers-img/cover-img-desktop-tablet/Rectangle12@2x.jpg        1089w,
                                                          ./img/covers-img/cover-img-mobile/Rectangle12-mobile@2x.jpg          566w,
                                                          ./img/covers-img/cover-img-desktop-tablet/Rectangle12.jpg           830w,
                                                          ./img/covers-img/cover-img-mobile/Rectangle12-mobile.jpg             284w,
                                                          
                                                      " sizes="(min-width:768px) 830px,        
                                                                  (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle12.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                          ./img/covers-img/cover-img-desktop-tablet/Rectangle4@2x.jpg        1089w,
                                                          ./img/covers-img/cover-img-mobile/Rectangle4-mobile@2x.jpg          566w,
                                                          ./img/covers-img/cover-img-desktop-tablet/Rectangle4.jpg           830w,
                                                          ./img/covers-img/cover-img-mobile/Rectangle4-mobile.jpg             284w,
                                                          
                                                      " sizes="(min-width:768px) 830px,        
                                                                  (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle4.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                          ./img/covers-img/cover-img-desktop-tablet/Rectangle5@2x.jpg        1089w,
                                                          ./img/covers-img/cover-img-mobile/Rectangle5-mobile@2x.jpg          566w,
                                                          ./img/covers-img/cover-img-desktop-tablet/Rectangle5.jpg           830w,
                                                          ./img/covers-img/cover-img-mobile/Rectangle5-mobile.jpg             284w,
                                                          
                                                      " sizes="(min-width:768px) 830px,        
                                                                  (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle5.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                            ./img/covers-img/cover-img-desktop-tablet/Rectangle6@2x.jpg        1089w,
                                                            ./img/covers-img/cover-img-mobile/Rectangle6-mobile@2x.jpg          566w,
                                                            ./img/covers-img/cover-img-desktop-tablet/Rectangle6.jpg           830w,
                                                            ./img/covers-img/cover-img-mobile/Rectangle6-mobile.jpg             284w,
                                                            
                                                          " sizes="(min-width:768px) 830px,        
                                                                  (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle6.jpg" alt="project" />
          </li>
        </ul>

        <ul class="marquee__inner">

          <li class="marquee__line">
            <img srcset="
                              ./img/covers-img/cover-img-desktop-tablet/Rectangle10@2x.jpg        1089w,
                              ./img/covers-img/cover-img-mobile/Rectangle10-mobile@2x.jpg          566w,
                              ./img/covers-img/cover-img-desktop-tablet/Rectangle10.jpg           830w,
                              ./img/covers-img/cover-img-mobile/Rectangle10-mobile.jpg             284w,
                              
                           " sizes="(min-width:768px) 830px,        
                                      (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle10.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                              ./img/covers-img/cover-img-desktop-tablet/Rectangle11@2x.jpg        1089w,
                              ./img/covers-img/cover-img-mobile/Rectangle11-mobile@2x.jpg          566w,
                              ./img/covers-img/cover-img-desktop-tablet/Rectangle11.jpg           830w,
                              ./img/covers-img/cover-img-mobile/Rectangle11-mobile.jpg             284w,
                              
                          " sizes="(min-width:768px) 830px,        
                                      (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle11.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                              ./img/covers-img/cover-img-desktop-tablet/Rectangle12@2x.jpg        1089w,
                              ./img/covers-img/cover-img-mobile/Rectangle12-mobile@2x.jpg          566w,
                              ./img/covers-img/cover-img-desktop-tablet/Rectangle12.jpg           830w,
                              ./img/covers-img/cover-img-mobile/Rectangle12-mobile.jpg             284w,
                              
                          " sizes="(min-width:768px) 830px,        
                                      (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle12.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                              ./img/covers-img/cover-img-desktop-tablet/Rectangle4@2x.jpg        1089w,
                              ./img/covers-img/cover-img-mobile/Rectangle4-mobile@2x.jpg          566w,
                              ./img/covers-img/cover-img-desktop-tablet/Rectangle4.jpg           830w,
                              ./img/covers-img/cover-img-mobile/Rectangle4-mobile.jpg             284w,
                              
                          " sizes="(min-width:768px) 830px,        
                                      (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle4.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                              ./img/covers-img/cover-img-desktop-tablet/Rectangle5@2x.jpg        1089w,
                              ./img/covers-img/cover-img-mobile/Rectangle5-mobile@2x.jpg          566w,
                              ./img/covers-img/cover-img-desktop-tablet/Rectangle5.jpg           830w,
                              ./img/covers-img/cover-img-mobile/Rectangle5-mobile.jpg             284w,
                              
                          " sizes="(min-width:768px) 830px,        
                                      (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle5.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                ./img/covers-img/cover-img-desktop-tablet/Rectangle6@2x.jpg        1089w,
                                ./img/covers-img/cover-img-mobile/Rectangle6-mobile@2x.jpg          566w,
                                ./img/covers-img/cover-img-desktop-tablet/Rectangle6.jpg           830w,
                                ./img/covers-img/cover-img-mobile/Rectangle6-mobile.jpg             284w,
                                
                              " sizes="(min-width:768px) 830px,        
                                      (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle6.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                              ./img/covers-img/cover-img-desktop-tablet/Rectangle7@2x.jpg        1089w,
                              ./img/covers-img/cover-img-mobile/Rectangle7-mobile@2x.jpg          566w,
                              ./img/covers-img/cover-img-desktop-tablet/Rectangle7.jpg           830w,
                              ./img/covers-img/cover-img-mobile/Rectangle7-mobile.jpg             284w,
                              
                          " sizes="(min-width:768px) 830px,        
                                      (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle7.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                              ./img/covers-img/cover-img-desktop-tablet/Rectangle8@2x.jpg        1089w,
                              ./img/covers-img/cover-img-mobile/Rectangle8-mobile@2x.jpg          566w,
                              ./img/covers-img/cover-img-desktop-tablet/Rectangle8.jpg           830w,
                              ./img/covers-img/cover-img-mobile/Rectangle8-mobile.jpg             284w,
                              
                          " sizes="(min-width:768px) 830px,        
                                      (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle8.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                              ./img/covers-img/cover-img-desktop-tablet/Rectangle9@2x.jpg        1089w,
                              ./img/covers-img/cover-img-mobile/Rectangle9-mobile@2x.jpg          566w,
                              ./img/covers-img/cover-img-desktop-tablet/Rectangle9.jpg           830w,
                              ./img/covers-img/cover-img-mobile/Rectangle9-mobile.jpg             284w,
                              
                          " sizes="(min-width:768px) 830px,        
                                      (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle9.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                        ./img/covers-img/cover-img-desktop-tablet/Rectangle1@2x.jpg 1089w,
                                        ./img/covers-img/cover-img-mobile/Rectangle1-mobile@2x.jpg   566w,
                                        ./img/covers-img/cover-img-desktop-tablet/Rectangle1.jpg     830w,
                                        ./img/covers-img/cover-img-mobile/Rectangle1-mobile.jpg      284w
                                      " sizes="(min-width:768px) 830px,        
                                                (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle1.jpg" alt="project" />
          </li>
        </ul>

        <ul class="marquee__inner">

          <li class="marquee__line">
            <img srcset="
                                      ./img/covers-img/cover-img-desktop-tablet/Rectangle4@2x.jpg        1089w,
                                      ./img/covers-img/cover-img-mobile/Rectangle4-mobile@2x.jpg          566w,
                                      ./img/covers-img/cover-img-desktop-tablet/Rectangle4.jpg           830w,
                                      ./img/covers-img/cover-img-mobile/Rectangle4-mobile.jpg             284w,
                                      
                                  " sizes="(min-width:768px) 830px,        
                                              (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle4.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                      ./img/covers-img/cover-img-desktop-tablet/Rectangle5@2x.jpg        1089w,
                                      ./img/covers-img/cover-img-mobile/Rectangle5-mobile@2x.jpg          566w,
                                      ./img/covers-img/cover-img-desktop-tablet/Rectangle5.jpg           830w,
                                      ./img/covers-img/cover-img-mobile/Rectangle5-mobile.jpg             284w,
                                      
                                  " sizes="(min-width:768px) 830px,        
                                              (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle5.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                        ./img/covers-img/cover-img-desktop-tablet/Rectangle6@2x.jpg        1089w,
                                        ./img/covers-img/cover-img-mobile/Rectangle6-mobile@2x.jpg          566w,
                                        ./img/covers-img/cover-img-desktop-tablet/Rectangle6.jpg           830w,
                                        ./img/covers-img/cover-img-mobile/Rectangle6-mobile.jpg             284w,
                                        
                                      " sizes="(min-width:768px) 830px,        
                                              (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle6.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                      ./img/covers-img/cover-img-desktop-tablet/Rectangle7@2x.jpg        1089w,
                                      ./img/covers-img/cover-img-mobile/Rectangle7-mobile@2x.jpg          566w,
                                      ./img/covers-img/cover-img-desktop-tablet/Rectangle7.jpg           830w,
                                      ./img/covers-img/cover-img-mobile/Rectangle7-mobile.jpg             284w,
                                      
                                  " sizes="(min-width:768px) 830px,        
                                              (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle7.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                      ./img/covers-img/cover-img-desktop-tablet/Rectangle8@2x.jpg        1089w,
                                      ./img/covers-img/cover-img-mobile/Rectangle8-mobile@2x.jpg          566w,
                                      ./img/covers-img/cover-img-desktop-tablet/Rectangle8.jpg           830w,
                                      ./img/covers-img/cover-img-mobile/Rectangle8-mobile.jpg             284w,
                                      
                                  " sizes="(min-width:768px) 830px,        
                                              (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle8.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                      ./img/covers-img/cover-img-desktop-tablet/Rectangle9@2x.jpg        1089w,
                                      ./img/covers-img/cover-img-mobile/Rectangle9-mobile@2x.jpg          566w,
                                      ./img/covers-img/cover-img-desktop-tablet/Rectangle9.jpg           830w,
                                      ./img/covers-img/cover-img-mobile/Rectangle9-mobile.jpg             284w,
                                      
                                  " sizes="(min-width:768px) 830px,        
                                              (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle9.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                ./img/covers-img/cover-img-desktop-tablet/Rectangle1@2x.jpg 1089w,
                                                ./img/covers-img/cover-img-mobile/Rectangle1-mobile@2x.jpg   566w,
                                                ./img/covers-img/cover-img-desktop-tablet/Rectangle1.jpg     830w,
                                                ./img/covers-img/cover-img-mobile/Rectangle1-mobile.jpg      284w
                                              " sizes="(min-width:768px) 830px,        
                                                        (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle1.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                ./img/covers-img/cover-img-desktop-tablet/Rectangle10@2x.jpg        1089w,
                                                ./img/covers-img/cover-img-mobile/Rectangle10-mobile@2x.jpg          566w,
                                                ./img/covers-img/cover-img-desktop-tablet/Rectangle10.jpg           830w,
                                                ./img/covers-img/cover-img-mobile/Rectangle10-mobile.jpg             284w,
                                                
                                             " sizes="(min-width:768px) 830px,        
                                                        (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle10.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                ./img/covers-img/cover-img-desktop-tablet/Rectangle11@2x.jpg        1089w,
                                                ./img/covers-img/cover-img-mobile/Rectangle11-mobile@2x.jpg          566w,
                                                ./img/covers-img/cover-img-desktop-tablet/Rectangle11.jpg           830w,
                                                ./img/covers-img/cover-img-mobile/Rectangle11-mobile.jpg             284w,
                                                
                                            " sizes="(min-width:768px) 830px,        
                                                        (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle11.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                ./img/covers-img/cover-img-desktop-tablet/Rectangle12@2x.jpg        1089w,
                                                ./img/covers-img/cover-img-mobile/Rectangle12-mobile@2x.jpg          566w,
                                                ./img/covers-img/cover-img-desktop-tablet/Rectangle12.jpg           830w,
                                                ./img/covers-img/cover-img-mobile/Rectangle12-mobile.jpg             284w,
                                                
                                            " sizes="(min-width:768px) 830px,        
                                                        (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle12.jpg" alt="project" />
          </li>
        </ul>

        <ul class="marquee__inner">

          <li class="marquee__line">
            <img srcset="
                                                        ./img/covers-img/cover-img-desktop-tablet/Rectangle7@2x.jpg        1089w,
                                                        ./img/covers-img/cover-img-mobile/Rectangle7-mobile@2x.jpg          566w,
                                                        ./img/covers-img/cover-img-desktop-tablet/Rectangle7.jpg           830w,
                                                        ./img/covers-img/cover-img-mobile/Rectangle7-mobile.jpg             284w,
                                                        
                                                    " sizes="(min-width:768px) 830px,        
                                                                (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle7.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                        ./img/covers-img/cover-img-desktop-tablet/Rectangle8@2x.jpg        1089w,
                                                        ./img/covers-img/cover-img-mobile/Rectangle8-mobile@2x.jpg          566w,
                                                        ./img/covers-img/cover-img-desktop-tablet/Rectangle8.jpg           830w,
                                                        ./img/covers-img/cover-img-mobile/Rectangle8-mobile.jpg             284w,
                                                        
                                                    " sizes="(min-width:768px) 830px,        
                                                                (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle8.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                        ./img/covers-img/cover-img-desktop-tablet/Rectangle9@2x.jpg        1089w,
                                                        ./img/covers-img/cover-img-mobile/Rectangle9-mobile@2x.jpg          566w,
                                                        ./img/covers-img/cover-img-desktop-tablet/Rectangle9.jpg           830w,
                                                        ./img/covers-img/cover-img-mobile/Rectangle9-mobile.jpg             284w,
                                                        
                                                    " sizes="(min-width:768px) 830px,        
                                                                (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle9.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle1@2x.jpg 1089w,
                                                                  ./img/covers-img/cover-img-mobile/Rectangle1-mobile@2x.jpg   566w,
                                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle1.jpg     830w,
                                                                  ./img/covers-img/cover-img-mobile/Rectangle1-mobile.jpg      284w
                                                                " sizes="(min-width:768px) 830px,        
                                                                          (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle1.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle10@2x.jpg        1089w,
                                                                  ./img/covers-img/cover-img-mobile/Rectangle10-mobile@2x.jpg          566w,
                                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle10.jpg           830w,
                                                                  ./img/covers-img/cover-img-mobile/Rectangle10-mobile.jpg             284w,
                                                                  
                                                               " sizes="(min-width:768px) 830px,        
                                                                          (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle10.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle11@2x.jpg        1089w,
                                                                  ./img/covers-img/cover-img-mobile/Rectangle11-mobile@2x.jpg          566w,
                                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle11.jpg           830w,
                                                                  ./img/covers-img/cover-img-mobile/Rectangle11-mobile.jpg             284w,
                                                                  
                                                              " sizes="(min-width:768px) 830px,        
                                                                          (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle11.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle12@2x.jpg        1089w,
                                                                  ./img/covers-img/cover-img-mobile/Rectangle12-mobile@2x.jpg          566w,
                                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle12.jpg           830w,
                                                                  ./img/covers-img/cover-img-mobile/Rectangle12-mobile.jpg             284w,
                                                                  
                                                              " sizes="(min-width:768px) 830px,        
                                                                          (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle12.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle4@2x.jpg        1089w,
                                                                  ./img/covers-img/cover-img-mobile/Rectangle4-mobile@2x.jpg          566w,
                                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle4.jpg           830w,
                                                                  ./img/covers-img/cover-img-mobile/Rectangle4-mobile.jpg             284w,
                                                                  
                                                              " sizes="(min-width:768px) 830px,        
                                                                          (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle4.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle5@2x.jpg        1089w,
                                                                  ./img/covers-img/cover-img-mobile/Rectangle5-mobile@2x.jpg          566w,
                                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle5.jpg           830w,
                                                                  ./img/covers-img/cover-img-mobile/Rectangle5-mobile.jpg             284w,
                                                                  
                                                              " sizes="(min-width:768px) 830px,        
                                                                          (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle5.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                                    ./img/covers-img/cover-img-desktop-tablet/Rectangle6@2x.jpg        1089w,
                                                                    ./img/covers-img/cover-img-mobile/Rectangle6-mobile@2x.jpg          566w,
                                                                    ./img/covers-img/cover-img-desktop-tablet/Rectangle6.jpg           830w,
                                                                    ./img/covers-img/cover-img-mobile/Rectangle6-mobile.jpg             284w,
                                                                    
                                                                  " sizes="(min-width:768px) 830px,        
                                                                          (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle6.jpg" alt="project" />
          </li>
        </ul>

        <ul class="marquee__inner">

          <li class="marquee__line">
            <img srcset="
                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle12@2x.jpg        1089w,
                                                  ./img/covers-img/cover-img-mobile/Rectangle12-mobile@2x.jpg          566w,
                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle12.jpg           830w,
                                                  ./img/covers-img/cover-img-mobile/Rectangle12-mobile.jpg             284w,
                                                  
                                              " sizes="(min-width:768px) 830px,        
                                                          (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle12.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle4@2x.jpg        1089w,
                                                  ./img/covers-img/cover-img-mobile/Rectangle4-mobile@2x.jpg          566w,
                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle4.jpg           830w,
                                                  ./img/covers-img/cover-img-mobile/Rectangle4-mobile.jpg             284w,
                                                  
                                              " sizes="(min-width:768px) 830px,        
                                                          (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle4.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle5@2x.jpg        1089w,
                                                  ./img/covers-img/cover-img-mobile/Rectangle5-mobile@2x.jpg          566w,
                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle5.jpg           830w,
                                                  ./img/covers-img/cover-img-mobile/Rectangle5-mobile.jpg             284w,
                                                  
                                              " sizes="(min-width:768px) 830px,        
                                                          (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle5.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                    ./img/covers-img/cover-img-desktop-tablet/Rectangle6@2x.jpg        1089w,
                                                    ./img/covers-img/cover-img-mobile/Rectangle6-mobile@2x.jpg          566w,
                                                    ./img/covers-img/cover-img-desktop-tablet/Rectangle6.jpg           830w,
                                                    ./img/covers-img/cover-img-mobile/Rectangle6-mobile.jpg             284w,
                                                    
                                                  " sizes="(min-width:768px) 830px,        
                                                          (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle6.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle7@2x.jpg        1089w,
                                                  ./img/covers-img/cover-img-mobile/Rectangle7-mobile@2x.jpg          566w,
                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle7.jpg           830w,
                                                  ./img/covers-img/cover-img-mobile/Rectangle7-mobile.jpg             284w,
                                                  
                                              " sizes="(min-width:768px) 830px,        
                                                          (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle7.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle8@2x.jpg        1089w,
                                                  ./img/covers-img/cover-img-mobile/Rectangle8-mobile@2x.jpg          566w,
                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle8.jpg           830w,
                                                  ./img/covers-img/cover-img-mobile/Rectangle8-mobile.jpg             284w,
                                                  
                                              " sizes="(min-width:768px) 830px,        
                                                          (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle8.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle9@2x.jpg        1089w,
                                                  ./img/covers-img/cover-img-mobile/Rectangle9-mobile@2x.jpg          566w,
                                                  ./img/covers-img/cover-img-desktop-tablet/Rectangle9.jpg           830w,
                                                  ./img/covers-img/cover-img-mobile/Rectangle9-mobile.jpg             284w,
                                                  
                                              " sizes="(min-width:768px) 830px,        
                                                          (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle9.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                            ./img/covers-img/cover-img-desktop-tablet/Rectangle1@2x.jpg 1089w,
                                                            ./img/covers-img/cover-img-mobile/Rectangle1-mobile@2x.jpg   566w,
                                                            ./img/covers-img/cover-img-desktop-tablet/Rectangle1.jpg     830w,
                                                            ./img/covers-img/cover-img-mobile/Rectangle1-mobile.jpg      284w
                                                          " sizes="(min-width:768px) 830px,        
                                                                    (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle1.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                            ./img/covers-img/cover-img-desktop-tablet/Rectangle10@2x.jpg        1089w,
                                                            ./img/covers-img/cover-img-mobile/Rectangle10-mobile@2x.jpg          566w,
                                                            ./img/covers-img/cover-img-desktop-tablet/Rectangle10.jpg           830w,
                                                            ./img/covers-img/cover-img-mobile/Rectangle10-mobile.jpg             284w,
                                                            
                                                         " sizes="(min-width:768px) 830px,        
                                                                    (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle10.jpg" alt="project" />
          </li>
          <li class="marquee__line">
            <img srcset="
                                                            ./img/covers-img/cover-img-desktop-tablet/Rectangle11@2x.jpg        1089w,
                                                            ./img/covers-img/cover-img-mobile/Rectangle11-mobile@2x.jpg          566w,
                                                            ./img/covers-img/cover-img-desktop-tablet/Rectangle11.jpg           830w,
                                                            ./img/covers-img/cover-img-mobile/Rectangle11-mobile.jpg             284w,
                                                            
                                                        " sizes="(min-width:768px) 830px,        
                                                                    (max-width:767px) 284px"
              src="./img/covers-img/cover-img-desktop-tablet/Rectangle11.jpg" alt="project" />
          </li>
        </ul>

      </div>
    </div>

  </div>
</section>