<!-- html код для секції FAQ -->
<section class="faq-section" id="faq-section">
  <div class="container">
    <h2 class="faq-title-section">FAQ</h2>

    <ul class="faq-list accordion-container" id="accordion2">
      <li class="faq-list-item ac ac-first">
        <h3 class="first-header ac-header">
          <span class="text-wrapper-first"
            >What programming languages are most often used in your
            project?</span
          >
          <button
            type="button"
            class="ac-trigger"
            aria-label="accordion button"
          >
            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icon.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac ac-second">
        <h3 class="ac-header second-header">
          <span class="text-wrapper-second"
            >What are the deadlines for the project?</span
          >
          <button
            type="button"
            class="ac-trigger"
            aria-label="accordion button"
          >
            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icon.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac ac-third">
        <h3 class="ac-header third-header">
          <span class="text-wrapper-third"
            >What payment methods do you accept?</span
          >
          <button
            type="button"
            class="ac-trigger"
            aria-label="accordion button"
          >
            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icon.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac ac-fourth">
        <h3 class="ac-header fourth-header">
          <span class="text-wrapper-fourth">How can I contact you?</span>
          <button
            type="button"
            class="ac-trigger"
            aria-label="accordion button"
          >
            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icon.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac ac-fifth">
        <h3 class="ac-header fifth-header">
          <span class="text-wrapper-fifth"
            >Do you provide advice or support?</span
          >
          <button
            type="button"
            class="ac-trigger"
            aria-label="accordion button"
          >
            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icon.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac ac-six">
        <h3 class="ac-header last-header">
          <span class="text-wrapper-six"
            >What does the process of developing a software product look like
            from idea to implementation?</span
          >
          <button
            type="button"
            class="ac-trigger"
            aria-label="accordion button"
          >
            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icon.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
