<footer class="footer-page footer-photo">
  <div class="container">
    <ul class="footer-list">
      <li class="footer-item footer-item-first">
        <a class="footer-link" href="#about-us">about us</a>
      </li>
      <li class="footer-item footer-item-second">
        <a class="footer-link" href="#our-collection">our collection</a>
      </li>
      <li class="footer-item footer-item-third">
        <a class="footer-link" href="#customer-order">customer order</a>
      </li>
      <li class="footer-item footer-item-fourth">
        <a class="footer-link" href="#testimonials">testimonials</a>
      </li>
    </ul>
    <p class="footer-p">
      A touch of <span class="accent-color">Ukrainian</span> culture in every
      embroidery
    </p>
  </div>
</footer>
