<header class="header-page">
    <div class="container header-container">
        <div class="header-left-part">
            <nav class="navigation">
                <a class="logo" href="./index.html">
                    <img src="./img/logo.svg" alt="Logo icon" width="44" height="44">
                </a>

                <ul class="navigation-menu">
                    <li class="navigation-item">
                        <a class="navigation-link" href="#about-us">About us</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link" href="#our-collection">Our collection</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link" href="#customer-order">Customer order</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link" href="#testimonials">Testimonials</a>
                    </li>
                </ul>
            </nav>

        </div>


        <div class="header-right-part">

            <address class="address-info">
                <a class="contact-information" href="tel:+380684439426">+380 (68) 443-94-26</a>
            </address>

            <ul class="social-link-list">
                <li class="social-list-item">
                    <a class="header-link" href="https://www.facebook.com/goITclub/" target="_blank">
                        <svg class="header-icons" width="28" height="28">
                            <use href="./img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a class="header-link" href="https://www.instagram.com/goitclub/" target="_blank">
                        <svg class="header-icons" width="28" height="28">
                            <use href="./img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a class="header-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                        <svg class="header-icons" width="28" height="28">
                            <use href="./img/icons.svg#icon-you-tube"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <button class="mobile-open-btn" type="button">
                <svg class="mobile-open-btn-icon" width="44" height="30">
                    <use href="./img/icons.svg#icon-burger"></use>
                </svg>
            </button>

        </div>


    </div>
</header>