<!-- html код для секції хедер -->
<header>
    <div class="box-container container ">
      <div class="logo-cont">
        <picture>
            <source
            media="(min-width:375px)"
            srcset="
            ./img/header/image1x.jpg 1x,
            ./img/header/image2x.jpg 2x
            "
          />
          <img
            src="./img/header/image1x.jpg"
            alt="logo"
            width="80"
          height="80"
          class="logo-img"
          />
          </picture>
         <img src="./img/logo.svg" alt="name" class="logo-svg">
          </svg>
    </div>
    <button type="button" class="button-menu" type="button">
      <svg class="svg-x-mob" width="28" height="28">
        <use href="./img/icon.svg#icon-modal_on"></use>
        </svg>
      </svg>
    </button>
    <div class="btn-menu">
    <button class="menu-tablet-deck" type="button">
      <span>Menu</span>
    </button>
  </div>
    <button class="order-btn-menu" type="button">
      <a class="order-menu" href="">Order the project</a>
    </button>
    </div>
    <!-- mob menu -->
    <div class="menu-box image-mob-menu">

          <button type="button" class="button-mob-menu">
            <svg class="svg-x-mob" width="28" height="28">
              <use href="./img/icon.svg#icon-modal_off"></use>
              </svg>
          </button>

          <ul class="mob-list-menu">
            <li class="mob-list-item">
              <a class="anchor-header-menu" href="">About me</a>
            </li>
            <li class="mob-list-item"> 
              <a class="anchor-header-menu" href="">Benefits</a>
            </li>
            <li class="mob-list-item">
              <a class="anchor-header-menu" href="">Projects</a>
            </li>
            <li class="mob-list-item">
              <a class="anchor-header-menu" href="">FAQ</a>
            </li>
          </ul>
<div class="order-menu-mob">
          <button class="order-btn-menu-mob" type="button">
            <a class="order-menu-mob" href="">Order the project</a>
          </button>
        </div>
      </div>
</header>
