<!-- html код для секції hero -->
<section id="hero-section" class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">
      Hello. <br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="hero-list">
      <li class="hero-item">
        <div class="hero-button-link"><a class="hero-link">ig</a></div>
      </li>
      <li class="hero-item">
        <div class="hero-button-link"><a class="hero-link">tg</a></div>
      </li>
      <li class="hero-item">
        <div class="hero-button-link"><a class="hero-link">yt</a></div>
      </li>
      <li class="hero-item">
        <div class="hero-button-link"><a class="hero-link">gh</a></div>
      </li>
      <li class="hero-item">
        <div class="hero-button-email">
          <a class="hero-link-email">lloydjefferson@gmail.com</a>
        </div>
      </li>
    </ul>
  </div>
</section>
