<section class="hero-section">
    <div class="container hero-container">
        <div class="hero-main">
            <div class="hero-photo">
                <img class="hero-img" srcset="
              ./img/desktop-1280/desktop-hero-girl@2x.jpg          784w,
              ./img/tablet/tablet-hero-girl@2x.jpg                 826w,
              ./img/mobile/mobile-hero@2x.jpg                      670w,
              ./img/desktop-1280/desktop-hero-girl.jpg             392w,
              ./img/tablet/tablet-hero-girl.jpg                    413w,
              ./img/mobile/mobile-hero.jpg                         335w
            " sizes="
                  (max-width: 767px) 335px,
                  (min-width: 768px) 413px, 
                  (min-width: 1280px) 392px" src="./img/desktop-1280/desktop-hero-girl.jpg" alt="Фото дівчини">
            </div>
            <div class="hero-goal">
                <h1 class="hero-title">Reviving the traditional <span class="accent-color">Ukrainian</span> artistry in
                    every stitch.</h1>
                <a class="hero-btn" href="#customer-order">
                    Order
                    <svg class="hero-arrow" width="26" height="10">
                        <use href="./img/icons.svg#icon-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="hero-handmade">
            <div class="hero-hand-cont">
                <img class="hero-sun" src="./img/hero/hero-sun.png" alt="Сонце">
                <p class="hero-text">all embroidery is made by hand</p>
            </div>
            <div class="hero-elipse">
                <img src="./img/hero/hero-elips.png" alt="Еліпс">
            </div>

        </div>
    </div>
</section>