<!--  hero -->
<section id="hero-section" class="red">
  <div class="container hero-container">
    <h1 class="hero-title">
      Hello. <br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="hero-list">
      <li class="hero-item">
        <div class="hero-button-link">
          <a
            class="hero-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >ig</a
          >
        </div>
      </li>
      <li class="hero-item">
        <div class="hero-button-link">
          <a
            class="hero-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >fb</a
          >
        </div>
      </li>
      <li class="hero-item">
        <div class="hero-button-link">
          <a
            class="hero-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            >yt</a
          >
        </div>
      </li>
      <li class="hero-item">
        <div class="hero-button-link">
          <a
            class="hero-link"
            href="https://github.com/mtsiuniak/headliner-2024"
            target="_blank"
            >gh</a
          >
        </div>
      </li>
      <li class="hero-item">
        <div class="hero-button-email">
          <a class="hero-link-email" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- / hero -->
