<!-- html код для секції mobile menu -->
<div class="menu-box image-mob-menu visually-hidden">
    <button type="button" class="button-mob-menu">
      <svg class="svg-x-mob" width="28" height="28">
        <use href="./img/icon.svg#icon-close"></use>
        </svg>
    </button>

    <ul class="mob-list-menu">
      <li class="mob-list-item">
        <a class="anchor-header-menu" href="#about-me">About me</a>
      </li>
      <li class="mob-list-item"> 
        <a class="anchor-header-menu" href="#benefits-id">Benefits</a>
      </li>
      <li class="mob-list-item">
        <a class="anchor-header-menu " href="#projects-id">Projects</a>
      </li>
      <li class="mob-list-item">
        <a class="anchor-header-menu" href="#faq-section">FAQ</a>
      </li>
    </ul>
<div class="order-menu-mob">
      <a class="order-btn-menu-mob" href="#footer-id">Order the project</a>
  </div>
</div>
