<section class="projects-section" id="projects-id">
  <div class="container">
    <h3 class="projects-title">Projects</h3>

    <div id="swiper2" class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="projects-container">
            <div class="projects-first-container">
              <div class="projects-cirkle-container">
                <ul class="projects-circle-list">
                  <li class="projects-circle-item">
                    <p class="projects-circle"></p>
                    #react
                  </li>
                  <li class="projects-circle-item">
                    <p class="projects-circle"></p>
                    #js
                  </li>
                  <li class="projects-circle-item">
                    <p class="projects-circle"></p>
                    #node js
                  </li>
                  <li class="projects-circle-item">
                    <p class="projects-circle"></p>
                    #git
                  </li>
                </ul>
              </div>
              <h3 class="projects-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                class="projects-btn"
                href="https://github.com/mtsiuniak/headliner-2024"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="projects-second-container">
              <div class="projects-image">
                <picture>
                  <source
                    media="(min-width:768px)"
                    srcset="
                      ./img/projects/desktop&tablet/project-tab-desk1.jpg    1x,
                      ./img/projects/desktop&tablet/project-tab-desk1@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(max-width:767px)"
                    srcset="
                      ./img/projects/mobile/project1mob.jpg    1x,
                      ./img/projects/mobile/project1mob@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./img/projects/mobile/project1mob.jpg"
                    alt="Image 1"
                    loading="lazy"
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="projects-container">
            <div class="projects-first-container">
              <div class="projects-cirkle-container">
                <ul class="projects-circle-list">
                  <li class="projects-circle-item">
                    <p class="projects-circle"></p>
                    #react
                  </li>
                  <li class="projects-circle-item">
                    <p class="projects-circle"></p>
                    #js
                  </li>
                  <li class="projects-circle-item">
                    <p class="projects-circle"></p>
                    #node js
                  </li>
                  <li class="projects-circle-item">
                    <p class="projects-circle"></p>
                    #git
                  </li>
                </ul>
              </div>
              <h3 class="projects-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <button
                class="projects-btn"
                onclick="window.open('https://github.com/mtsiuniak/headliner-2024', 
            '_blank')"
              >
                See project
              </button>
            </div>
            <div class="projects-second-container">
              <div class="projects-image">
                <picture>
                  <source
                    media="(min-width:768px)"
                    srcset="
                      ./img/projects/desktop&tablet/project-tab-desk2.jpg    1x,
                      ./img/projects/desktop&tablet/project-tab-desk2@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(max-width:767px)"
                    srcset="
                      ./img/projects/mobile/project2mob.jpg    1x,
                      ./img/projects/mobile/project2mob@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./img/projects/mobile/project2mob.jpg"
                    alt="Image 2"
                    loading="lazy"
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="projects-container">
            <div class="projects-first-container">
              <div class="projects-cirkle-container">
                <ul class="projects-circle-list">
                  <li class="projects-circle-item">
                    <p class="projects-circle"></p>
                    #react
                  </li>
                  <li class="projects-circle-item">
                    <p class="projects-circle"></p>
                    #js
                  </li>
                  <li class="projects-circle-item">
                    <p class="projects-circle"></p>
                    #node js
                  </li>
                  <li class="projects-circle-item">
                    <p class="projects-circle"></p>
                    #git
                  </li>
                </ul>
              </div>
              <h3 class="projects-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <button
                class="projects-btn"
                onclick="window.open('https://github.com/mtsiuniak/headliner-2024', 
            '_blank')"
              >
                See project
              </button>
            </div>
            <div class="projects-second-container">
              <div class="projects-image">
                <picture>
                  <source
                    media="(min-width:768px)"
                    srcset="
                      ./img/projects/desktop&tablet/project-tab-desk3.jpg    1x,
                      ./img/projects/desktop&tablet/project-tab-desk3@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(max-width:767px)"
                    srcset="
                      ./img/projects/mobile/project3mob.jpg    1x,
                      ./img/projects/mobile/project3mob@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./img/projects/mobile/project3mob.jpg"
                    alt="Image 1"
                    loading="lazy"
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="projects-swiper-pagination"></div>

      <div class="projects-arrow-container">
        <ul class="projects-arrow-list">
          <li class="projects-arrow-item projects-btn-prev">
            <button class="projects-arrow-accent btn-prev" id="btn-prev">
              <svg class="projects-arrow-prev" width="24" height="24">
                <use href="./img/icon.svg#icon-arrow-left-dark"></use>
              </svg>
            </button>
          </li>
          <li class="projects-arrow-item projects-btn-next">
            <button class="projects-arrow-accent btn-next" id="btn-next">
              <svg class="projects-arrow-next" width="24" height="24">
                <use href="./img/icon.svg#icon-arrow-right-white"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
