<!-- html код для секції reviews -->
<!--<p>reviews</p>-->

<section class="reviews-section" id="reviews">
  <div class="reviews-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper">

      <ul class="swiper-wraper reviews-list" id="swiper2"> </ul>
      <div class="my-swiper-buttons">
        <button class="my-swiper-button-prev">
          <svg class="reviews-arrow-left" width="24" height="24">
            <use href="./img/icon.svg#icon-arrow-left-dark"></use>
          </svg>
        </button>
        <button class="my-swiper-button-next">
          <svg class="reviews-arrow-right" width="24" height="24">
            <use href="./img/icon.svg#icon-arrow-right-white"></use>
          </svg>
        </button>
      </div>
    </div>

  </div>
</div>
</section>