<!-- html код для секції reviews -->
<!--<p>reviews</p>-->

<section class="reviews-section" id="reviews">
  <div class="reviews-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper">
    <ul class="swiper-wraper reviews-list"> </ul>
    <ul class="reviews-arrow-list">
      <li class="reviews-arrow-item">
        <a class="reviews-arrow-accent" href="">
          <svg class="reviews-arrow-left" width="24" height="24">
            <use href="./img/icon.svg#icon-arrow-left-dark"></use></svg>
          </a>
      </li>
      <li class="reviews-arrow-item">
        <a class="reviews-arrow-accent" href="">
          <svg class="reviews-arrow-right" width="24" height="24">
            <use href="./img/icon.svg#icon-arrow-right-white"></use></svg>
          </a>
      </li>
    </ul>
  </div>
</div>
</section>