<!-- html код для секції reviews -->
<!--<p>reviews</p>-->

<section class="reviews-section" id="reviews">
    <div class="reviews-container">
      <h2 class="reviews-title">Reviews</h2>
      <ul class="reviews-list">
        <li class="reviews-list-item first-list-item" id="1">
          <div class="avatar-url">
            <img
              alt=""
              width="48"
              height="48"
            />
          </div>
          <div class="opinion">
            <h3 class="author"></h3>
            <p class="review"></p> 
          </div>
        </li>
        <li class="reviews-list-item second-list-item" id="2">
          <div class="avatar-url">
            <img
              alt=""
              width="48"
              height="48"
            />
          </div>
          <div class="opinion">
            <h3 class="author"></h3>
            <p class="review"></p>
          </div>
        </li>
        <li class="reviews-list-item third-list-item" id="3">
          <div class="avatar-url">
            <img
              alt=""
              width="48"
              height="48"
            />
          </div>
          <div class="opinion">
            <h3 class="author"></h3>
            <p class="review"></p>
          </div>
        </li>
        <li class="reviews-list-item fourth-list-item" id="4">
          <div class="avatar-url">
            <img
              alt=""
              width="48"
              height="48"
            />
          </div>
          <div class="opinion">
            <h3 class="author"></h3>
            <p class="review"> </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="slider">
      <button
        class="slider-button button-prev"
        type="button"
        aria-label="Previous"
      >    
      <svg class="slider-btn-icon" >
        <use href="">
        </use>
      </svg>
      </button>
      <button
        class="slider-button button-next"
        type="button"
        aria-label="Next"
      >
      <svg class="slider-btn-icon">
        <use href="">
        </use>
      </svg>
      </button>
    </div>
  </section>