<!-- html код для секції work together -->
<footer id="footer-id">
  <div class="container footer-container">
    <div class="title-box">
      <picture>
        <source media="(min-width:768px)" srcset="
            ./img/work_together/footer-foto-desktop.png    1x,
            ./img/work_together/footer-foto-desktop@2x.png 2x
          " type="image/png" />
        <source media="(max-width:767px)" srcset="
            ./img/work_together/footer_photo.png    1x,
            ./img/work_together/footer_photo@2x.png 2x
          " type="image/png" />

        <img class=" " src="./img/work_together/footer_photo.png" alt="foto" loading="lazy" />
      </picture>
      <h2 class="footer-title">Let’s <span class="accent-color">work</span></h2>
      <h2 class="footer-title">together</h2>
    </div>
    <form class="footer-form">
      <input class="form-item" type="email" name="email" placeholder="clients@gmail.com"
        pattern="(^[^\s@]+@[^\s@]+\.[^\s@]+$)" autocomplete="off" required />
      <input class="form-item" type="text" name="comments" placeholder="comments" autocomplete="off" required />
      <button type="submit" class="btn-submit">Send</button>
    </form>
    <ul>
      <li class="footer-link">
        <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
      </li>
      <li class="footer-link">
        <a href="tel:+3801111111111">+380 11 1111 11 11</a>
      </li>
    </ul>
  </div>
  <div class="modal-background">
    <div class="modal container">
      <h3 class="modal-title">Thank you for your interest in cooperation!</h3>
      <p class="modal-text">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
      <svg class="modal-close" width="22" height="22">
        <use href="./img/icon.svg#icon-close"></use>
      </svg>
    </div>
  </div>
</footer>