.about-section {
  padding-top: 64px;
  padding-bottom: 32px;
}

/* General info mobile*/

.about-general-info {
  margin-bottom: 32px;
}

.about-general-info-text {
  width: 343px;
  height: 500px;
  padding: 32px;
  margin-bottom: 16px;
  border-radius: 24px;
  background: rgb(36, 37, 39);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
}

.first-word {
  color: rgb(237, 59, 68);
}

.second-word {
  color: rgba(250, 250, 250, 0.4);
}

.about-general-info-img {
  border-radius: 24px;
  height: 500px;
  object-fit: cover;
}

/* Detail info mobile */

.about-detail-info-list {
  margin-bottom: 32px;
}

#accordion1 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-inline-start: 0;
}
#accordion1 .ac {
  margin-top: 0;
  padding-bottom: 32px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

#accordion1 .ac .ac-header {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  color: rgba(250, 250, 250, 0.4);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
}

.about-detail-info-title-text {
  width: 284px;
}
#accordion1 .ac .ac-trigger {
  background-color: transparent;
  border: none;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  padding: 8px;
}

.about-accordion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}

#accordion1 .ac .ac-trigger::after {
  line-height: 0;
  content: '';
  right: 0;
}

#accordion1 .ac.is-active > .ac-header .ac-trigger::after {
  content: '';
}
#accordion1 .ac-trigger[aria-expanded='true'] .about-accordion-icon {
  transform: rotate(180deg);
}

#accordion1 .ac .ac-panel .ac-text {
  padding: 0;
  padding-top: 12px;
  color: rgb(250, 250, 250);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: left;
}

.about-me-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.about-role-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.about-role-item {
  max-width: 284px;
}

.about-education-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

br {
  display: none;
}

/* Skills mobile*/
.about-skills-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.about-skills-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  color: rgb(250, 250, 250);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

#slidertop1 {
  width: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

#swiper1 {
  width: 260px;
}

#slidertop1 .swiper-button-next {
  border: none;

  width: 28px;
  height: 28px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: static;
}
#slidertop1 .slider-button-arrow {
  stroke: #3b3b3b;
  color: #3b3b3b;
  fill: #3b3b3b;
}
#slidertop1 .swiper-button-next::after {
  display: none;
  content: '';
}
#swiper1 .swiper-slide {
  width: 130px !important;
}
#swiper1 .swiper-slide-active {
  background-color: rgb(237, 59, 68);
  border: none;
}
#swiper1 .swiper .swiper-slide:hover,
#swiper1 .swiper .swiper-slide:focus {
  background-color: rgb(237, 59, 68);
  border: none;
}

@media screen and (min-width: 768px) {
  .about-section {
    padding-bottom: 48px;
  }

  /* General info tablet*/

  .about-general-info {
    margin-bottom: 64px;
  }

  .about-general-info-text {
    width: 704px;
    height: 700px;
    padding: 64px;
    font-size: 38px;
    line-height: 1.05;
  }

  .about-general-info-img {
    border-radius: 24px;
    height: 700px;
  }

  /* Detail info tablet */

  .about-detail-info-list {
    margin-bottom: 64px;
  }

  #accordion1 {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  #accordion1 .ac .ac-trigger {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  .about-accordion-icon {
    width: 20px;
    height: 20px;
  }
  #accordion1 .ac .ac-trigger::after {
    width: 40px;
    height: 40px;
  }

  #accordion1 .ac .ac-panel {
    width: 704px;
  }

  #accordion1 .ac .ac-panel .ac-text {
    padding-top: 8px;
  }

  .about-me-list {
    row-gap: 16px;
  }

  br {
    display: block;
  }

  /* Skills tablet*/

  .about-skills-title {
    width: 200px;
    height: 200px;
    font-size: 20px;
    line-height: 1.2;
  }

  #slidertop1 {
    width: 704px;
    gap: 64px;
  }

  #swiper1 {
    width: 600px;
  }

  #slidertop1 .swiper-button-next {
    width: 40px;
    height: 40px;
  }

  #slidertop1 #swiper1 .swiper-slide {
    width: 200px !important;
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 1440px) {
  .about-section {
    padding-top: 96px;
    padding-bottom: 82px;
  }

  /* General info desktop */

  .about-general-info {
    margin-bottom: 96px;
    display: flex;
    column-gap: 16px;
  }

  .about-general-info-text {
    margin-bottom: 0;
    width: 680px;
    height: 700px;
    padding: 64px;
    font-size: 38px;
    line-height: 1.05;
  }

  /* Detail info desktop */

  .about-detail-info-list {
    margin-bottom: 64px;
  }

  #accordion1 {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  #accordion1 .ac .ac-panel {
    width: 1376px;
  }

  #accordion1 .ac .ac-panel .ac-text {
    width: 1376px;
    padding-left: 696px;
    padding-right: 68px;
  }

  .about-me-list {
    row-gap: 16px;
  }

  /* Skills desktop*/

  #slidertop1 {
    width: 1312px;
    gap: 72px;
  }

  #swiper1 {
    width: 1200px;
  }
}
