@font-face {
    font-family: "Inter Tight";
    src: url("../fonts/InterTight-VariableFont_wght.woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

body {
    font-family: "Inter Tight", sans-serif;
    color: #FAFAFA;
    background-color: #1C1D20;
    margin: 0 auto;
}

.container {
    min-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width: 375px) {
    .container {
        margin: 0 auto;
        width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1440px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}