.benefits-section {
    padding-top: 32px;
    padding-bottom: 32px;
}
.benefits-title {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(250, 250, 250, 0.4);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5; 
    letter-spacing: -0.02em;
    text-align: left;
    text-transform: uppercase;
}
.benefits-list {
    width: 344px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 32px;
}
.benefits-card-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    background: rgb(36, 37, 39);
    padding: 24px;
}

.benefits-information {
    display: flex;
    width: 296px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-top: 64px;
}
 .benefits-name {
     color: rgb(250, 250, 250);
     font-size: 20px;
     font-weight: 600;
     line-height: 1.5;
     letter-spacing: -0.02em;
     text-align: left;
 }
 .benefits-text {
    color: rgba(250, 250, 250, 0.6);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: left;
 }
 .benefits-icon-accent {
     display: flex;
     width: 48px;
     height: 48px;
     background-color: rgb(237, 59, 68);
     border-radius: 10%;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 48px;
     height: 48px;
 }
 .benefits-order-btn {
     padding: 18px 36px 18px 36px;
     box-sizing: border-box;
     border: 1px solid rgba(250, 250, 250, 0.2);
     border-radius: 60px;
     color: #fafafa;
     background-color: rgba(0, 0, 0, 0);
     transition: border 250ms linear, color 250ms linear;
 }
 .benefits-order-btn:hover,
 .benefits-order-btn:focus {
     border: 1px solid rgba(250, 250, 250, 0.81);
     color: rgba(250, 250, 250, 0.5);
 }

 @media screen and (min-width: 768px) {
    .benefits-section {
        padding-top: 48px;
        padding-bottom: 48px;
}
.benefits-list {
        width: 704px;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 16px;
        justify-content: center;
        margin-bottom: 64px;
}
 .benefits-card-item {
     width: calc((100% - 16px) / 2);
}
}
@media screen and (min-width: 1440px) {

.benefits-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
}
.benefits-list-and-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        flex-direction: column;
}
.benefits-box-btn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:flex-start;
}
}