
 .covers-section {
     max-width: 375px;
     margin: 0 auto;
     background: url(../img/covers-img/cover-img-mobile/bg-covers-mobile.png);
     background-repeat: no-repeat;
     background-size: 375px 508px;
     overflow: hidden;
 }
  .covers-container {
      position: relative;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
      height: 508px;
  }
  
  .content {
      position: relative;
  }

  .marquee {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
  }

  .marquee__inner {
      display: flex;
      gap: 30px;
      
  }
  .marquee__inner {
      margin-bottom: 30px;
      transform: rotate(16deg);
  }

  .marquee__line {
      flex-shrink: 0;
      min-width: 282.29px;
      height: 162.94px;
      white-space: nowrap;
      animation-name: marqueeLine;
      animation-duration: 15s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
  }
 

@media (min-width: 768px) {
    .covers-section {
        max-width: 768px;
        background: url(../img/covers-img/cover-img-desktop-tablet/bg-covers-tablet.png);
        background-size: 768px 960px;
    }

    .marquee__line {
        flex-shrink: 0;
        min-width: 544px;
        height: 314px;
    }
    .marquee__line img {
        height: 314px;
    }

    .covers-container {
        height: 960px;
    }
          .marquee__inner {
              margin-bottom: 50px;
          }

}

@media (min-width: 1440px) {
    .covers-container {
        left: 0px;
        }
    .covers-section {
        max-width: 1440px;
        background: url(../img/covers-img/cover-img-desktop-tablet/bg-covers-desktop.png);
        background-size: 1440px 960px;
    }
}

@keyframes marqueeLine {
    from {
        transform: translateX(-20%);
    }

    to {
        transform: translateX(-180%);
    }
}
