/* css */

/* SECTION FAQ MOBILE STYLES */
.faq-section {
  max-width: 767px;
  height: auto;
  padding-top: 32px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.faq-list-item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq-title-section {
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 32px;
}

#accordion2 .ac-header {
  color: rgb(250, 250, 250);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: left;
  width: 343px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.text-wrapper-first {
  width: 265px;
}

.text-wrapper-second {
  width: 230px;
}

.text-wrapper-third {
  width: 241px;
}

.text-wrapper-fourth .text-wrapper-fifth {
  width: 208px;
}

.text-wrapper-six {
  width: 289px;
}

#accordion2 .ac-panel {
  width: 343px;
  height: auto;
}

.faq-accordion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}
#accordion2 .ac .ac-trigger {
  background-color: transparent;
  border: none;
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 34px;
  height: 34px;
  padding: 7px;
  border-radius: 50%;
}
#accordion2 {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}
#accordion2 .ac {
  background-color: transparent;
  border: none;

  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  border-right: none;
  border-left: none;
  margin-top: 0;
}

#accordion2 .ac .ac-panel .ac-text {
  font-family: inherit;
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: left;
  padding: 16px 0px 0px 0px;
}

#accordion2 .ac .ac-trigger::after {
  line-height: 0;
  content: '';
  right: 0;
}

#accordion2 .ac.is-active > .ac-header .ac-trigger::after {
  content: '';
}
#accordion2 .ac-trigger[aria-expanded='true'] .faq-accordion-icon {
  transform: rotate(180deg);
}

/* SECTION FAQ TABLET STYLES */

@media screen and (min-width: 768px) {
  .faq-section {
    padding-top: 48px;
    margin-bottom: 96px;
    max-width: 1439px;
  }

  .faq-list-item {
    padding-top: 32px;
    padding-bottom: 24px;
    width: 704px;
  }

  #accordion2 .ac-header {
    width: 704px;
    display: flex;
    align-items: center;
  }

  .text-wrapper-first {
    width: 574px;
  }

  .text-wrapper-second {
    width: 485px;
  }

  .text-wrapper-third {
    width: 485px;
  }

  .text-wrapper-fourth .text-wrapper-fifth {
    width: 485px;
  }

  .text-wrapper-six {
    width: 485px;
  }

  #accordion2 .ac-panel {
    width: 656px;
    height: auto;
  }

  #accordion2 .ac .ac-trigger {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  .faq-accordion-icon {
    width: 20px;
    height: 20px;
  }

  .last-header {
    margin-right: 179px;
    padding-right: 10px;
  }
}

/* SECTION FAQ DESCTOP STYLES */

@media screen and (min-width: 1440px) {
  .faq-section {
    padding-top: 82px;
    margin-bottom: 164px;
    max-width: 1440px;
  }

  .faq-list-item {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 32px;
    padding-left: 32px;
    width: 688px;
  }

  .faq-list {
    flex-wrap: wrap;
    width: 1376px;
    flex-direction: row;
    align-items: stretch;
  }

  #accordion2 .ac-first {
    order: 1;
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-left: 0px;
    padding-bottom: 26px;
  }

  #accordion2 .ac-second {
    order: 3;
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-left: 0px;
    padding-bottom: 26px;
  }

  #accordion2 .ac-third {
    order: 5;
    padding-bottom: 54px;
    padding-left: 0px;
    border-right: 1px solid rgba(250, 250, 250, 0.2);
  }

  .ac-fourth {
    order: 2;
    padding-right: 0px;
    padding-bottom: 26px;
  }

  .ac-fifth {
    order: 4;
    padding-right: 0px;
    padding-bottom: 26px;
  }

  .ac-six {
    order: 6;
    padding-right: 0px;
    padding-bottom: 26px;
  }

  #accordion2 .ac .ac-trigger {
    margin-left: 0px;
  }

  #accordion2 .ac-text {
    width: 624px;
  }

  #accordion2::after {
    height: 332px;
  }

  #accordion2 .ac .ac-header {
    padding-top: 32px;
    align-items: flex-start;
  }

  #accordion2 .ac .ac-panel {
    height: 77px;
  }
}
