/* css */
footer {
  padding: 32px 0;
  position: relative;
  background: url('../img/work_together/bkgMobile.png') repeat-y right;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  footer {
    background: url('../img/work_together/bkgMobile@2x.png') repeat-y right;
  }
}

.title-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 8px;
  margin-bottom: 63px;
}

.footer-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
}

.accent-color {
  color: rgb(237, 59, 68);
}
.accent-background {
  background-color: #ed3b44;
}

.footer-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.form-item {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding-bottom: 20px;
  margin-bottom: 16px;

  color: #fafafa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  text-overflow: ellipsis;
  transition: border-color 250ms linear;
}

.form-item:hover,
.form-item:focus {
  border-color: #fafafa;
}

.footer-form.success-email .form-item[name='email'] {
  border-bottom: 1px solid #3cbc81;
}

.success-email::after {
  content: 'Success!';
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  color: rgb(60, 188, 129);
  font-size: 14px;
  line-height: 1.3;
}

.footer-form.failed-email .form-item[name='email'] {
  border-bottom: 1px solid rgb(231, 74, 59);
}

.failed-email::after {
  content: 'Invalid email, try again';
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  color: rgb(231, 74, 59);
  font-family: Inter Tight;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  text-align: left;
}

.form-item::placeholder {
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
}

.btn-submit {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  margin-top: 16px;
  background-color: #ed3b44;

  color: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  transition: background-color 250ms linear;
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: #e0373f;
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.footer-link {
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;

  color: rgb(250, 250, 250);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  transition: border-color 250ms linear;
}

.footer-link:hover,
.footer-link:focus {
  border-color: #fafafa;
}

/*----- modal -----*/
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1000;
  opacity: 0;
  transition: opacity 250ms linear;
}

.modal-background.visible {
  opacity: 1;
  z-index: 1000;
}

body.modal-open {
  overflow: hidden;
}

.modal {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 16px;
  padding: 64px 32px;
  background-color: #1c1d20;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  position: fixed;
  z-index: 2000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 343px;
}

.modal-title {
  color: rgb(250, 250, 250);
  font-family: Inter Tight;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.modal-text {
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}
.modal-close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

/*----- /modal -----*/

@media screen and (min-width: 375px) {
  .footer-link {
    font-size: 14px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  footer {
    padding-top: 85px;
    padding-bottom: 169px;
    background: url('../img/work_together/bkgTablet.png') repeat-y right;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    footer {
      background: url('../img/work_together/bkgTablet@2x.png') repeat-y right;
    }
  }
  .title-box {
    gap: 7px 20px;
  }

  .footer-title {
    font-size: 64px;
    font-weight: 500;
    line-height: 64px;
  }

  .footer-form {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    margin-bottom: 64px;
  }

  .form-item {
    padding-bottom: 20px;
  }

  .btn-submit {
    width: 150px;
    height: 150px;
  }

  .footer-link {
    padding: 18px 32px;
  }

  .success-email::after {
    top: 100px;
    left: 30px;
  }

  .failed-email::after {
    top: 100px;
    left: 70px;
  }

  .modal {
    max-width: 500px;
    width: 495px;
    padding: 64px 58px;
  }
}

@media screen and (min-width: 1440px) {
  footer {
    padding-top: 85px;
    padding-bottom: 169px;
    background: url('../img/work_together/bkgDesktop.png') repeat-y right;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    footer {
      background: url('../img/work_together/bkgDesktop@2x.png') repeat-y right;
    }
  }
  .footer-container {
    max-width: 1100px;
    margin: 0 auto;
  }

  .title-box {
    max-width: 472px;
  }
  .footer-form {
    justify-content: start;
    gap: 32px;
  }
  .form-item {
    width: 390px;
  }

  .btn-submit {
    margin-left: 54px;
  }
  .success-email::after {
    top: 100px;
    left: 30px;
  }

  .failed-email::after {
    top: 100px;
    left: 70px;
  }
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #494848;
  border-radius: 10px;
}
