<!-- html код для секції work together -->
<footer>
    <div class="container">
        <div class="title-box">
            <img src="../img/work_together/footer_photo.png" alt="foto" srcset="">
            <h2 class="footer-title">Let’s <span class="accent-color">work</span></h2>
            <h2 class="footer-title">together</h2>
        </div>
        <form  class="footer-form succes-email failed">
            <input 
            class="form-item" 
            type="email" 
            name="email" 
            placeholder="clients@gmail.com"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})">
            <input class="form-item" type="text" name="comments" placeholder="comments">
            <button type="submit" class="btn-submit">Send</button>
        </form>
        <ul>
            <li class="footer-link"><a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></li>
            <li class="footer-link"><a href="tel:+380 11 1111 11 11">+380 11 1111 11 11</a></li>
        </ul>
    </div>
</footer>